<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
  
<!-- 	<mongo:repositories base-package="com.tbox.dao"></mongo:repositories> -->

	<mongo:mongo-client id="mongo" replica-set="192.168.1.117:27017">
		 <mongo:client-options connections-per-host="8"
			threads-allowed-to-block-for-connection-multiplier="8"
			connect-timeout="1000" 
			max-wait-time="100"
		    socket-keep-alive="true"
			socket-timeout="100" 
			/>
	</mongo:mongo-client>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg value="sdea"></constructor-arg>
		<constructor-arg ref="mongo"></constructor-arg>
	</bean>


</beans>  